@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url('/fonts/Atkinson-Hyperlegible-Regular.woff2') format('woff2'),
        url('/fonts/Atkinson-Hyperlegible-Regular.woff') format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url('/fonts/Atkinson-Hyperlegible-Bold.woff2') format('woff2'),
        url('/fonts/Atkinson-Hyperlegible-Bold.woff') format('woff');
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
